name: pipeline_check
on: [push]
jobs:
  job1:
    runs-on: ubuntu-latest
    container: 
      image: vistalab/fsl-v5.0
    steps:
    - name: check fsl
      run: |
        whereis fsl
        echo $FSLDIR
    - name: install python dependencies
      run: |
        python3 --version
        apt-get -y install python3
        sudo apt-get -y install python3-pip
        python3 --version
        python3 -m pip install --upgrade pip
        pip3 install gdown
    - name: cache data
      id: cache-data
      uses: actions/cache@v3
      with:
        path: cache-data
        key: ${{runner.os}}-data
    - name: download dataset
      run: |
        gdown "1N2wWheD56WxViYIl7UrDUfhwSxkGXP7E&confirm=t" -O ./cache-data
        unzip ./cache-data/pipeline_example.zip
        ls ./cache-data/pipeline_example

        
